#headdiv{
    display: flex;
    border: 2px solid black;
}

.logo{
    height: 100px;
    width: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    font-size: 30px;
}

.nav-items > ul > li{
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

.card {
    padding: 5px;
    width: 200px;
    height: 400px;
    background-color: lemonchiffon;
    margin: 5px;
}

.card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.resimg{
    width: 200px;
    height: 200px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.topB{
    background-color: darkgoldenrod;
    color: darkblue;
    font-size: xx-small;
    height: 20px;
    width: 100px;
    border: 2px solid rgb(107, 8, 236);
    border-radius: 2px;
}